@import './dummy.css';

@import 'tailwindcss';

@plugin '@tailwindcss/typography';

:root {
  color-scheme: light dark;
}

@theme {
  --color-primary: light-dark(#5961df, #8c91d8);
  --color-pink: #ec6ead;
  --color-yellow: #fcff9e;
  --animate-rainbow-text: rainbow-text 3s ease infinite;

  @keyframes rainbow-text {
    0%,
    100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
}
p {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    sans-serif;
}
html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.highlight {
  @apply text-primary;
}

@layer base {
  body {
    @apply dark:bg-zinc-800;
  }
}

@layer utilities {
  .prose {
    --tw-prose-counters: var(--color-primary);
    --tw-prose-bullets: var(--color-primary);
  }
}
